path {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 1px;
}

path:hover {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 3px;
}

div.map-panel {
  border-style: solid;
  border-color: #ffffff;
  border-radius: 2px;
}